@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section StyleToHead{
    <link href="@Url.Content("~/assets/css/pujari-profile.css")" rel="stylesheet" type="text/css" />
}


<section id="detailpage">   
    <div class="col-md-12">
        <h1 class="ben_man">Our Empanelled Pandits and Purohits</h1>
        <h1 class="nit hidden-xs">আমাদের নির্বাচিত পণ্ডিত ও পুরোহিতবর্গ</h1>
    </div>
</section>

@*<div class="row">
        <section id="detailpage">

            <div class="row">
                <div class="col-md-3" style="padding:40px">
                    <img src="~/assets/uploads/images/puja/@Model.DetailsPagePic1" alt="Picture2" class="img-fluid">
                </div>
                <section id="detailpage">
                    <h1 class="ben_man">আমাদের নির্বাচিত পণ্ডিত ও পুরোহিতবর্গ</h1>
                    <h1 class="nit">Our Empanelled Pandits and Purohits</h1>
                </section>
                <div class="col-md-3" style="padding:40px">
                    <img src="~/assets/uploads/images/puja/@Model.DetailsPagePic2" alt="Picture1" class="img-fluid">
                </div>
            </div>
        </section>
    </div>*@

<div class="descrip_kali">
    <div class="row">
        <div class="details col-md-6">
            <p class="marketing_p2">
                Pujapariseva is a unique network of Pandits, Purohits and Jyotishis. One of our prime objective is to introduce you with real learned, efficient and trusted religious priests, sadhaks and Gurus who not only can perform your religious tasks but also give you the Sublime Vision and Holy Guidance in life.We believe that to achieve success and peace in life, a religious living in important. It helps you to focus, gain confidence and march forward with the blessings of almighty.
            </p>
            <p class="marketing_p2">
                Pujapariseva is proud to have a very selective band of Pandits, Purohits and Astrologers who uncompromisingly nurture a morale of Knowledge, Trust  and Ethics. Some of them are portrayed below:
            </p>
        </div>
        <div class="preview col-md-6">
            <p class="description2">
                পূজা পরিষেবা পণ্ডিত,পুরোহিত ও জ্যোতিষী বর্গের একটি অপূর্ব সমন্নয়। আমাদের একটা প্রধান উদ্দেশ্য হলো সাধারণ মানুষের সাথে সত্যিকার জ্ঞানী,দক্ষ্য ও নির্ভরশীল পণ্ডিত,পুরোহিত, সাধক ওগুরুদের সাথে সংযোগ করে দেওয়া যাতে তারা তাদের বিশ্বাসের পূর্ণ মর্য্যাদা পান। এই সকল বিশিষ্ট জনেরা যে শুধু আপনার ধর্মীয় ক্রিয়া অনুষ্ঠান পূজা পাঠ সম্পন্ন করবেন তাই নয়, তারা প্রয়োজনে আপনাকে সঠিক মার্গ দর্শন করাবেন ও জীবনে সঠিক দিশা দেখাবেন। আমরা বিশ্বাস করি, জীবনে সাফল্য ও শান্তি পেতে গেলে কিঞ্চিৎ সাধন ভাজন ও আধ্যাত্মীক জীবন যাপনের খুব প্রয়োজনীয়তা আছে যাতে আপনি দিক ভ্রষ্ট না হন, আত্মা বিশ্বাস ফিরে পান এবং জীবনে এগিয়ে যেতে পারেন ঈশ্বরের আশীর্বাদে।
            </p>
            <p class="description2">
                পূজা পরিষেবা গর্বের সাথে জানাচ্ছে যে আমাদের সাথে বিশেষ ভাবে নির্বাচিত পণ্ডিত, পুরোহিত ও জ্যোতিষী বর্গ যুক্ত আছেন যারা অত্যন্ত জ্ঞানী, সৎও মূল্য বোধে বিশ্বাসী। তাদের মধ্যে কয়েক জনের সংক্ষিপ্ত বিবরণী দেওয়া হলো:
            </p>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="content-section">
                <div class="col-md-12">
                    
                    @*Mahanta Sri Shankar Tripathi*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Mahanta Sri Shankar Tripathi</h3>
                                    <h2 class="product-block">মহান্ত প্রবর শ্রী শংকর ত্রিপাঠি</h2>
                                    <img src="~/assets/img/pujari8.jpg" alt="pujari8" class="kah_g">
                                </div>
                                <div class="details col-md-4">
                                    <h3>About Mahanta Sri Shankar Tripathi:</h3>
                                    <p class="product-description">
                                        One our eminent pujari Brahmin from Benaras is Sri Shankar Tripathi ji who is revered as great
                                        Hindu priest of Shaibya Cult. Sri Shankar Tripathi is popularly known as Dhanni Maharaj.
                                        Sri Shankarji hails from the great Mohant family of kashi which has been the chief priest of Lord Vishwanath since 200 years.
                                        The second son of Shivacharya Pandit Late Ravishankar Tripathi, Dhannyee Maharaj is a highly regarded Shaivya Pandit and performing all kinds of puja and rituals at Sri Kashi Viswanath for more than 30 years. His great devotion,
                                        sublime knowledge and absolute perfection makes him outstanding Pandit who worships almighty only for your wellbeing selflessly.
                                    </p>
                                </div>
                                <div class="preview col-md-4">
                                    <h3> মহান্ত প্রবর শ্রী শংকর ত্রিপাঠি সম্পর্কে:</h3>
                                    <p class="product-description">
                                        শৈব্য আরাধনার এক উজ্জ্বল  জ্যোতিস্ক হলেন আমাদের  অন্যতম পণ্ডিত শ্রী শংকর ত্রিপাঠি। শ্রী ত্রিপাঠিজী ধন্যি মহারাজ নামে অধিক সুপরিচিত।
                                        কাশী বিশ্বনাথ সহ  সব  ধরনের  শিব  পূজা, মাতৃ বন্দনা, হনূমান  অর্চনা  এবং  সর্বপ্রকার  জপ্  তপঃ  ক্রিয়া  কর্মাদিতে  অতি  পারদর্শী  আমাদের  ধন্য  মহারাজ।
                                        শংকর মহান্তজীর জন্ম কাশীর বিখ্যাত মহান্ত পরিবারে যারা বংশ পরম্পরায় কাশী বিশ্বনাথের পৌরোহিতের কাজ নির্বাহ করে আসছেন বিগত ২০০ বছর ধরে।
                                        সর্ব শ্রদ্ধেয় শিবাচর্য পণ্ডিত স্বর্গিয় রবিশংকর ত্রিপাঠিজীর দ্বিতীয় পুত্র হলেন ধন্যি মহারাজ যিনি স্বয়ং কাশী বিশ্বনাথের সেবায় যুক্ত রয়েছেন গত ৩০ বছরের বেশি সময় ধরে।
                                        নিগূঢ় ভক্তি অগাধ জ্ঞান ও নিপুণ অর্চনা শৈলী, ধন্যি মহারাজ এমন একটা স্তরে নিয়ে গেছে যা আজকের দিনে সত্যই দুর্লভ।
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>


                    @*Pandit Rajkumar Tiwariji*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Pandit Rajkumar Tiwariji</h3>
                                    <h2 class="product-block">পন্ডিত রাজকুমার তিওয়ারি</h2>
                                    <img src="~/assets/img/Pandit-Rajkumar-Tiwariji.jpg" alt="pujari8" class="kah_g">
                                </div>
                                <div class="details col-md-4">
                                    <h3>About Pandit Rajkumar Tiwariji:</h3>
                                    <p class="product-description">
                                        Pandit Raj Kumar Tiwari hails from an eminent Varanasi Brahmin family which is engaged in religious activities over ages. Since last two decades, Panditji is settled in Mumbai and acting as one of the most prominent Pujaris of famous Siddhi Vinayak and Mahalaxmi Temples in Mumbai. He is regarded as one of the best Ganapatya Purohit and performs all Ganesh and Mahalaxmi puja on behalf of Pujapariseva. Panditji is fluent in English, Hindi, Marathi and giving advice to people coming up for religious solicitation.
                                    </p>
                                </div>
                                <div class="preview col-md-4">
                                    <h3>পন্ডিত রাজকুমার তিওয়ারি সম্পর্কে:</h3>
                                    <p class="product-description">
                                        পন্ডিত রাজকুমার তিওয়ারি এক প্রসিদ্ধ ব্রাহ্মণ পরিবারের সন্তান- যে পরিবার বংশানুক্রমে ধর্মীয় ক্রিয়া কলাপে গভীরভাবে নিয়োজিত। বিগত দুই দশক ধরে পন্ডিতজী  মুম্বাই নিবাসী এবং মুম্বাইয়ের জগৎবিখ্যাত সিদ্ধিবিনায়ক মন্দির ও মহালক্ষ্মী মন্দিরের সাথে যুক্ত। উনি এই দুই প্রখ্যাত মন্দিরের অন্যতম পূজারী এবং শ্রী গণেশজীর ও মাতা মহালক্ষ্মীর সর্ব ধরনের পূজা এর অর্চনায় পারদর্শী। পন্ডিতজী  পূজা পরিষেবার সকল ভক্তের পূজা পাঠ অত্যন্ত নিপুণ ভাবে সম্পন্ন করেন। শুধু তাই নয়, যে কোনো ধর্মীয় উপদেশ ও ব্যাখ্যা অতীব মননশীলতার সাথে দিয়ে থাকেন। ইংরেজি, হিন্দি ওর মারাঠী - তিন ভাষাতেই পণ্ডিতজী সমান পারদর্শী।
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Pandit Bablu Guru Maharaj*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Pandit Bablu Guru Maharaj</h3>
                                    <h2 class="product-block">পণ্ডিত বাবলু  গুরু মহারাজ</h2>
                                    <img src="~/assets/img/Pandit-Bablu-Maharaj.jpg" alt="pujari8" class="kah_g">
                                </div>
                                <div class="details col-md-4">
                                    <h3>About Pandit Bablu Guru Maharaj:</h3>
                                    <p class="product-description">
                                        Pandit Bablu Guru Maharaj is the nominated pujari of puja pariseva at Bagalamukhi Temple, Nalkhera, MP.  Nalkhera Bagalamukhi Temple is one of the most famous and sacred place of worship specially in Tantric practice. Bablu Maharaj is specially trained in Mata Bagalamukhi puja, aradhana.  Guruji is born in a respected priest family of Nalkhera who are worshipping Mata Bagalamukhi for generations. For any kind Doshamukti, Shatru binash, Legal trouble, Financial crisis or disturbed affairs, Bagalamulhi puja is considered as an ultimate solution and Bablu Maharaj performs such acts unmistakably.
                                    </p>
                                </div>
                                <div class="preview col-md-4">
                                    <h3>পণ্ডিত বাবলু গুরু মহারাজ সম্পর্কে:</h3>
                                    <p class="product-description">
                                        পন্ডিত বাবলু গুরু মহারাজ মধ্যপ্রদেশের নলখেড়ার বগালামুখী মন্দিরের পূজা পরিসেবার মনোনীত পূজারি । নলখেড়া বগালামুখী মন্দির তান্ত্রিক সাধনায় বিশেষভাবে বিখ্যাত এবং পবিত্র উপাসনালয়গুলির মধ্যে একটি। বাবলু মহারাজ মাতা বগালামুখী পূজা, আরাধনায় বিশেষভাবে প্রশিক্ষিত। গুরুজির জন্ম নলখেড়ার এক সম্ভ্রান্ত পুরোহিত পরিবারে যারা বংশ পরম্পরায় মাতা বগালামুখীর পূজা করে আসছেন। যে কোনো ধরনের দোষমুক্তি, শত্রু বিনাশ, আইনি ঝামেলা, আর্থিক সংকট বা অস্থির বিষয়ের জন্য বগালমুলী পূজাকে একটি চূড়ান্ত সমাধান হিসাবে বিবেচনা করা হয় এবং বাবলু মহারাজ এই ধরনের কাজগুলি সুনিপুন ভাবে নির্বাহ করেন।
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Pandit Kishan Baba*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Pandit Kishan Baba</h3>
                                    <h2 class="product-block">পণ্ডিত কিষান বাবা</h2>
                                    <img src="~/assets/img/Pandit-Kishan-Baba.jpg" alt="pujari8" class="kah_g">
                                </div>
                                <div class="details col-md-4">
                                    <h3>About Pandit Kishan Baba:</h3>
                                    <p class="product-description">
                                        For all kinds of Pujan, bhajan, Arati, Abhishek etc of Devadideb Mahadev at Baidyanath Dham, our nominated pujari is Pandit Kishan Baba. A man who has fully devoted his life in Shaibya Aradhana. Kishan Baba is born in a respected priest family of Deoghar who are worshipping Baba Baidyanath for generations. Kishan Baba is a priest who performs Shiva puja directly inside the Gava Griha of the Baidyanath Temple. An very capable pujari with straight forward nature, Kishan Baba does devote’s desired puja with absolute sanctity and perfection.
                                    </p>
                                </div>
                                <div class="preview col-md-4">
                                    <h3>পণ্ডিত কিষান বাবা সম্পর্কে:</h3>
                                    <p class="product-description">
                                        বৈদ্যনাথ ধামে দেবাদিদেব মহাদেবের সকল প্রকার পূজা, ভজন, আরতি, অভিষেক ইত্যাদির জন্য আমাদের মনোনীত পূজারী হলেন পন্ডিত কিষাণ বাবা। একজন মানুষ যিনি শৈব্য আরাধনায় তার জীবনকে সম্পূর্ণরূপে উৎসর্গ করেছেন। কিষাণ বাবার জন্ম দেওঘরের এক সম্ভ্রান্ত পুরোহিত পরিবারে, যারা বংশ পরম্পরায় বাবা বৈদ্যনাথের পূজা করে আসছেন।কিষাণ বাবা হলেন একজন পুরোহিত যিনি বৈদ্যনাথ মন্দিরের গর্ভগৃহের ভিতরে সরাসরি শিব পূজা করেন। সরল প্রকৃতির একজন অত্যন্ত দক্ষ পূজারি কিষাণ বাবা, পরম পবিত্রতা এবং পরিপূর্ণতার সাথে ভক্তের কাঙ্ক্ষিত পূজা করেন।
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Sri Akshay Kumar Panda*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Sri Akshay Kumar Panda</h3>
                                    <h2 class="product-block">শ্রী  অক্ষয়  কুমার  পান্ডা</h2>
                                    <img src="~/assets/img/kamakhyapujari.jpg" alt="numero" class="kah_g">
                                </div>
                                <div class="details col-md-4">
                                    <h3>About Sri Akshay Kumar Panda:</h3>
                                    <p class="product-description">
                                        Sri Akshay Kumar Panda is our nominated pujari for all kinds of tantric puja and kriya karma as per the Shakto cult.
                                        Akshayji is a very experienced, sincere and dedicated priest who have been puja and other rituals for over last 20 years.
                                        Residing at Kamakhya Devalaya,
                                        their family is associated with Kamakhya Temple over generations and have been performing worship
                                        of mata Kamakhya on daily basis.
                                        One special attribute about Sri Panda is that he hails from the respected Barapujari
                                        family who are member of the Baradeuri Samaj.
                                        They are regarded as very special priests who are considered as distinguished
                                        performer of Jap Tap Hom Jogya etc. Sri Panda has well set facility to conduct arrange any type of puja at his own place.
                                    </p>

                                </div>
                                <div class="preview col-md-4">
                                    <h3> শ্রী  অক্ষয় কুমার পান্ডা সম্পর্কে:</h3>
                                    <p class="product-description">
                                        শাক্ত তথা তান্ত্রিক পূজা ও ক্রিয়া  কর্ম পালনের জন্য আমাদের নির্বাচিত পুরোহিত হলেন শ্রীযুক্ত অক্ষয় কুমার পান্ডা মহাশয়।
                                        শ্রী পান্ডা  একজন অত্যন্ত অভিজ্ঞ ও নিষ্ঠাবান পূজারি যিনি গত 20 বছর ধরে মায়ের পূজা করে আসছেন।
                                        কামাখ্যা দেবালয় নিবাসি অক্ষয় বাবুরা বংশ পরম্পরায় পুরোহিত এবং গত কয়েক প্রজন্মধরে তারা কামাখ্যা মায়ের মন্দিরের সাথে যুক্ত।
                                        এনাদের একটি  বিশেষ পরিচয় হলো যে এরা বড়োপূজারী  পরিবারের  অন্তর্গত  এবং বড়দেউরি
                                        সমাজের  সদস্য  যারা  কামাখ্যা মন্দিরে জপ্, তপ্, হোম, যজ্ঞ ইত্যাদি  ক্রিয়া  কর্মে অত্যন্ত পারদর্শী।
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    @*Sri Supriyo Chatterjee*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Sri Supriyo Chatterjee</h3>
                                    <h2 class="product-block">শ্রীযুক্ত সুপ্রিয় চট্টোপাধ্যায়</h2>
                                    <img src="~/assets/img/pujari.jpg" alt="pujari" class="kah_g">
                                </div>
                                <div class="details col-md-4">
                                    <h3>About Sri Supriyo Chatterjee:</h3>
                                    <p class="product-description">
                                        Sri Supriyo Chatterjee is our nominated purohit thakur who is a very experienced,
                                        sincere and dedicated priest.
                                        He is well educated in Hindu rituals and perform all types of paja path including Shakti Aradhana.
                                        Sr Chatterjee has worshipping Maa Kali for over last 30 years.
                                        Their family is into priest hood over generations and have been performing worship of kali deity on daily basis.
                                        On special occasions Supriyoji himself conducts puja, aarati and prayer directly from the core corner of the temple,
                                        access to which is limited to very few people.
                                        He is highly regarded as a man of trust, dedication and perfection.
                                    </p>
                                </div>
                                <div class="preview col-md-4">
                                    <h3> শ্রীযুক্ত সুপ্রিয় চট্টোপাধ্যায় সম্পর্কে:</h3>
                                    <p class="product-description">
                                        শ্রীযুক্ত সুপ্রিয় চট্টোপাধ্যায় মহাশয় একজন অত্যন্ত অভিজ্ঞ ও নিষ্ঠাবান ব্রাহ্মন যিনি গত ৩০ বছর ধরে পূজা অর্চনা করে আসছেন।
                                        সুপ্রিয় বাবুরা বংশ পরম্পরায় পুরোহিত এবং গত কয়েক প্রজন্মধরে তারা কালী মায়ের মন্দিরের সাথে যুক্ত।
                                        বিশেষ বিশেষ তিথিতে মায়ের পুজো ও আরতি সুপ্রিয় বাবু স্বয়ং নিজে সরাসরি গর্ভগৃহে থেকে সম্পন্ন করেন যার অধিকার খুব কম লোকেরই থাকে।
                                        যে  কোনো  ধরনের পূজা, পাঠ, হোম, যজ্ঞ ও অন্যান্য ক্রিয়াদি সম্পন্ন করার  সকল ব্যবস্থাই  সুপ্রিয় বাবুর আছে। অত্যন্ত সজ্জন ও নিষ্ঠাবান ব্রাহ্মণ হিসাবে উনি খুবই সুপরিচিত।
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Sri S D Deokante*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Sri S D Deokante</h3>
                                    <h2 class="product-block">গুরুজী শ্রী এস ডি দেওকান্তে</h2>
                                    <img src="~/assets/img/SDDeokante.jpg" alt="pithali2" class="kah_g">
                                </div>
                                <div class="details col-md-4">
                                    <h3>About Sri S D Deokante:</h3>
                                    <p class="product-description">
                                        Our another Eminent and Highly Knowledgeable Pandit  is Sri  S D Deokante who is popularly known as Guruji. Deokante ji is a very
                                        dedicated Maharashtrian Brahmin who performs all kinds of Puja and Rituals with absolute sanctity and perfection. He has spent over four
                                        decades in almighty’s worship specially in Trambakeswar,  conducting almost all types of Hindu rituals and practicing Astrological Consultations.
                                        Guruji is specialised in Shiv Puja, Ganesh Puja, Shradh Karma, all kinds of Shanti puja, all kinds of Dosh Khandana puja, Mahamrityunjay Puja etc.
                                        He is also proficient in conducting various levels of Japa Kriya and Ritual related to Child Adoption, Nam Karan, Dev Sthapanam at Home etc.
                                        Guruji is also deeply respected for his accurate Astrological Analysis, prediction and calculation with respect to Horoscope, Palmistry, Marriage Success etc.
                                    </p>

                                </div>
                                <div class="preview col-md-4">
                                    <h3> গুরুজী শ্রী এস ডি দেওকান্তে সম্পর্কে:</h3>
                                    <p class="product-description">
                                        সর্ব পূজা ও জ্যোতিষ বিশারদ শ্রী এস ডি দেওকান্তে আমাদের একজন অতি বিশিষ্ট পুরোহিত যিনি দীর্ঘ চার দশক ধরে বৈদিক দেব দেবী আরাধনা
                                        ও  জ্যোতিষ চর্চার কাজ নির্বাহ করে আসছেন। শ্রী দেওকান্তেজি  যিনি ত্রম্বকেশ্বরে গুরুজী নামে সমাধিক পরিচিত, একজন অতি নিষ্ঠাবান মহারাষ্ট্রীয়
                                        পণ্ডিত এবং  অত্যন্ত  জ্ঞানী ও দক্ষ্য বিভিন্ন  প্রকার পূজা ও ক্রিয়াকর্মে  যার  মধ্যে  প্রধানতঃ  হলো: শিব পূজন, গনেশ পুজন, আদ্য  শ্রাধ্য,
                                        সব রকম শান্তি  পূজা, সব রকম দোষ খণ্ডন পূজা, মহামৃন্ত্যুঞ্জয় পূজা, জপ্ অনুষ্ঠান, দত্তক  বিধান, দেব /দেবী স্থাপন ইত্যাদি।
                                        গুরুজী জ্যোতিষ শাস্ত্রে সমান পারদর্শী বিশেষ করে কুণ্ডলী বিচার, হস্তরেখা বিচার, বৈবাহিক যোগ, দোষ খন্ডন ইত্যাদি বিষয়ে।
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    @*Sri Ranjan Pathak /Purohit*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Sri Ranjan Pathak /Purohit</h3>
                                    <h2 class="product-block">শ্রী রঞ্জন পাঠক</h2>
                                    <img src="~/assets/img/RanjanPathak.jpg" alt="pithali2" class="kah_g">
                                </div>
                                <div class="details col-md-4">
                                    <h3>About Sri Ranjan Pathak /Purohit:</h3>
                                    <p class="product-description">
                                        Another honorable priest of the puja service is Shri Ranjan Pathak Mahasaya. His dexterity and sincerity in various acts of worship add a special dimension.
                                        He was born in a prominent Brahmin family in Calcutta, which has been engaged in religious worship for generations.
                                    </p>
                                </div>
                                <div class="preview col-md-4">
                                    <h3>শ্রী রঞ্জন পাঠক সম্পর্কে:</h3>
                                    <p class="product-description">
                                        পূজা পরিষেবার আর এক মাননীয় পুরোহিত হলেন শ্রী রঞ্জন পাঠক মহাশয়। বিভিন্ন পূজা কর্মে ওনার নিপুনতা ও আন্তরিকতা একটি বিশেষ মাত্রা যোগ করে।
                                        কলকাতার এক বিশিষ্ট ব্রাহ্মণ পরিবারে ওনার জন্ম, যে পরিবার বংশ পরম্পরায় ধর্মীয় পূজা  অর্চনায় নিয়োজিত। শ্রীযুক্ত পাঠক সর্বপ্রকার পূজা অর্চনায় পারদর্শী।
                                        সামাজিক আচার অনুষ্ঠান যেমন বৈবাহিক, উপনয়ন, শ্রাদ্ধকর্মাদি, শান্তি পূজন, দোষ খন্ডন পূজন ইত্যাদিতে অতি অভিজ্ঞ।
                                        পূজা পাঠ সংক্রান্ত অনেক বিষয়েই ওনার অতন্ত গভীর জ্ঞান আছে।
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    @*Pandit Sri Sanjay Shastri*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Pandit Sri Sanjay Shastri</h3>
                                    <h2 class="product-block">পণ্ডিত শ্রী সঞ্জয় শাস্ত্রী</h2>
                                    <img src="~/assets/img/SanjayShastri.jpg" alt="pithali2" class="kah_g">
                                </div>

                                <div class="details col-md-4">
                                    <h3>About Pandit Sri Sanjay Shastri:</h3>
                                    <p class="product-description">
                                        Another accomplished  purohit of Pajapariseva is Pandit Sanjay Shastri. He holds highest level of  proficiency
                                        in various puja path and Vaidik rituals. He hails from a distinguished prayag tirtha famed Brahmin family
                                        which is profoundly engaged in religious practices over generations. Shastriji himself is performing social
                                        rituals and religious services for last 25 years. Among these are all types of Puja, Shaibya Aradhana  and
                                        Hom, Jogya etc. Panditji is specially regarded as an authentic  purohit  for all kinds of Dosha Khandana
                                        pujan and shanti pujan.  He is one of the leading Shivacharya pandits for Trambakeswar Jyotilinga puja.

                                    </p>
                                </div>
                                <div class="preview col-md-4">
                                    <h3>শ্রী সঞ্জয় শাস্ত্রী সম্পর্কে:</h3>
                                    <p class="product-description">
                                        পূজা পরিষেবার আর এক উজ্জ্বল জ্যোতিস্ক হলেন আমাদের অন্যতম পণ্ডিত শ্রী সঞ্জয় শাস্ত্রী মহাশয়।
                                        বিভিন্ন পূজা কর্মে  বিশেষ রূপে সমস্ত দোষ নিবারণ ক্রিয়া যজ্ঞে ও সব ধরনের শান্তি  পূজনে ওনার  নিপুনতা ও
                                        আন্তরিকতা একটি  বিশেষ মাত্রা যোগ করে। প্রয়াগ  তীর্থের এক বিশিষ্ট ব্রাহ্মণ পরিবারে ওনার জন্ম, যে পরিবার বংশ
                                        পরম্পরায় ধর্মীয় পূজা  অর্চনায় নিয়োজিত। শাস্ত্রীজি সর্বপ্রকার পূজা অর্চনায় পারদর্শী। যার  মধ্যে  উল্লেখযোগ্য  হলো
                                        ত্রম্বকেশ্বর  জ্যোতির্লিঙ্গের সব  রকম পূজা  ও শৈব্য  আরাধনা। সামাজিক আচার অনুষ্ঠান যেমন বৈবাহিক, উপনয়ন,
                                        শ্রাদ্ধকর্মাদি, শান্তি পূজন, দোষ খন্ডন পূজন ইত্যাদিতে অতি অভিজ্ঞ। পূজা পাঠ সংক্রান্ত অনেক বিষয়েই ওনার অন্ত্যন্ত গভীর
                                        জ্ঞান আছে।
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    @*Rajendraprasad Bhattacharya*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Sri Rajendraprasad Bhattacharya</h3>
                                    <h2 class="product-block">শ্রী রাজেন্দ্রপ্রসাদ ভট্টাচার্য </h2>
                                    <img src="~/assets/img/RajendraprasadBhattacharya.jpg" alt="pithali2" class="kah_g">
                                </div>
                                <div class="details col-md-4">
                                    <h3>About Sri Rajendraprasad Bhattacharya:</h3>
                                    <p class="product-description">
                                        Another respectable purohit of Pajapariseva is Sri Rajendraprasad Bhattacharya.  He is quite proficient in
                                        various puja path and Vaidik rituals. Currently residing at Salt Lake, Kolkata, Reajendraprasad babu hails
                                        from a distinguished Brahmin family who are profoundly engaged in religious practices over generations.
                                        Sri Bhattacharya himself is performing social and religious services for last 30 years. Besides all types
                                        of Puja, Devi Aradhana and Rituals, Sri Bhattacharya is specially accomplished in Ramakrishna-Sarada puja and Aradhana. He is a direct disciple of   respected Swami Ranganathaji Maharaj and associated with Ramakrishna Math and Mission for a long time.
                                    </p>

                                </div>
                                <div class="preview col-md-4">
                                    <h3>শ্রী রাজেন্দ্রপ্রসাদ ভট্টাচার্য সম্পর্কে:</h3>
                                    <p class="product-description">
                                        পূজা পরিষেবার আর এক মাননীয় পুরোহিত হলেন শ্রী রাজেন্দ্রপ্রসাদ ভট্টাচার্য মহাশয়। বিভিন্ন পূজা কর্মে ওনার  নিপুনতা ও
                                        আন্তরিকতা বিশেষ ভাবে উল্লেখযোগ্য। সর্ব দেবদেবীর পূজা সহ সকল প্রকার হিন্দু শাস্ত্রীয় ক্রিয়াকর্মাদি অতি নিষ্ঠাভরে ও নিপুন ভাবে
                                        সুসম্পন্ন করেন। অধুনা সল্ট লেক নিবাসী রাজেন্দ্রপ্রসাদ বাবুর জন্ম এক বিশিষ্ট ব্রাহ্মণ পরিবারে, যে পরিবার বংশ পরম্পরায় ধর্মীয়
                                        পূজা অর্চনায় নিয়োজিত। শ্রীযুক্ত ভট্টাচার্য সর্বপ্রকার পূজা অর্চনার পাশাপাশি রামকৃষ্ণ আরাধনায় বিশেষ পারদর্শী। উনি বেলুড়
                                        রামকৃষ্ণ মঠ ও মিশনের অধ্যক্ষ পরম পূজ্যপাদ স্বামী রঙ্গনাথজী মহারাজের মন্ত্রশিষ্য এবং রামকৃষ্ণ-সারদা পূজা অর্চনায় বিশেষভাবে
                                        নিয়োজিত।
                                    </p>

                                </div>

                            </div>
                        </div>
                    </div>

                    @*Pandit Rajmani Shastri*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Pandit Rajmani Shastri</h3>
                                    <h2 class="product-block">পণ্ডিত  রাজমনি  শাস্ত্রী</h2>
                                    <img src="~/assets/img/RajmaniShastri.jpg" alt="pithali2" class="kah_g">
                                </div>
                                <div class="details col-md-4">
                                    <h3>About Sri Rajmani Shastri /Purohit:</h3>
                                    <p class="product-description">
                                        Another eminent purohit of Pujapariseva is Sri Rajmani Shastri. Sri Shastri is well respected as an authentic Vedic Pandit in Hindu Puja path. While he performs all types of puja and Vedic rituals, Pandit Rajmani Shastri is also an esteemed Brahmin pujari of Sirdi Sai Baba. Shastriji is specially accomplished in Saibaba’s puja and Aradhana which  he has been performing for over two decades at the holy place Sirdi. Dedication, Knowledge and perfection are the special attributes of Pandit Rajmani Shastri.
                                    </p>
                                </div>
                                <div class="preview col-md-4">
                                    <h3>শ্রী রাজমনি শাস্ত্রী সম্পর্কে:</h3>
                                    <p class="product-description">
                                        পূজাপরিষেবার আর একজন বিশিষ্ঠ পুরোহিত হলেন পণ্ডিত রাজমনি শাস্ত্রী। সবধরনের পূজা আর্চা ও শাস্ত্রীয় ক্রিয়াকর্মের পাশাপাশি, পণ্ডিতজি শিরডি সাইঁ বাবার অন্যতম পুরোহিত দীর্ঘ দিন ধরে উনি সাইঁ বাবার পূজা আরাধনা করে আসছেন যেকোনো শুভ কাজের আগে সাইঁ বাবার আশীর্বাদ পেতে শাস্ত্রীজি অতি সুচারু রূপে সাইঁ আরাধনা করে দেন। বিগত তিন দশক ধরে উনি সাইঁ বাবার পূজারী এবং অন্যান্য ধর্মীয় পুজো পাঠের সাথে যুক্তয় নিগূঢ় ভক্তি, সুগভীর পান্ডিত্য ও নিপুণ অর্চনা শৈলী, রাজমনি শাস্ত্রীকে  একটি বিশেষ স্থান প্রদান করে।
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    @*Pandit Tyagi Maharaj*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Pandit Sri Tyagi Maharaj</h3>
                                    <h2 class="product-block">পণ্ডিত শ্রী ত্যাগী মহারাজ</h2>
                                    <img src="~/assets/img/TyagiMaharaj.jpg" alt="pithali2" class="kah_g">
                                </div>

                                <div class="details col-md-4">
                                    <h3>About Pandit Sri Tyagi Maharaj:</h3>
                                    <p class="product-description">
                                        Pandit Tyagi Maharaj is another prominent purohit associated with  Pujapariseva service centre.
                                        Tyagi Maharaj is a renowned Joshi Guruji. He is much appreciated as an authentic Vedic Pandit in Hindu Puja path.
                                        While he performs all types of puja and Vedic rituals, Pandit Tyagi Maharaj is specially known as a distinguished Brahmin
                                        pujari of the Planet God Shani. Panditji is adeptly accomplished in Shani pujan and Aradhana. This he has been performing
                                        for over two decades at Shani Signapur- the most famous abode of Lord Shani. He is truly an authentic Shani Pujari which is
                                        rarely available these days. Dedication, Knowledge and perfection are the special attributes of Pandit Tyagi Maharaj.
                                    </p>
                                </div>
                                <div class="preview col-md-4">
                                    <h3>পণ্ডিত শ্রী ত্যাগী মহারাজ সম্পর্কে:</h3>
                                    <p class="product-description">
                                        পূজাপরিষেবার আর একজন বিশিষ্ঠ পুরোহিত হলেন পণ্ডিত ত্যাগী মহারাজ যিনি একজন অতি বিশিষ্ট যোশি গুরুজী
                                        গ্রহ দেবতা শনি দেবের পূজা অর্চনায় যিনি দীর্ঘদিন ধরে নিয়োজিত রয়েছেন। শাস্ত্রীয় মতে শনৈশ্চর পূজা বেশ জটিল এবং গূঢ়।
                                        প্রকৃত শনি সাধক খুব কমই  মেলে। আমাদের ত্যাগী মহারাজ এই বিষয়ে বিশেষ পারদর্শী এবং বিখ্যাত শনি সিংনাপুরের একজন
                                        বিশিষ্ট পুরোহিত।  শনি আরাধনার পাশাপাশি, পণ্ডিতজি  সবধরনের পূজা আর্চা ও শাস্ত্রীয় শনি আরাধনার ক্রিয়াকর্ম নির্বাহ করে
                                        থাকেন। যেকোনো শুভ কাজের আগে শনি দেবের কৃপাদৃষ্টি ও আশীর্বাদ পেতে শাস্ত্রীজি অতি সুচারু রূপে শনি আরাধনা করে
                                        দেন। বিগত তিন দশক ধরে উনি শনি দেবের পূজারী এবং অন্যান্য ধর্মীয় পুজো পাঠের সাথে যুক্ত। নিগূঢ় ভক্তি,
                                        সুগভীর পান্ডিত্য ও নিপুণ অর্চনা শৈলী, পণ্ডিত ত্যাগী মহারাজকে একটি বিশেষ স্থান প্রদান করে।
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Sri Gurupada Goswami*@
                    <div class="card">
                        <div class="container-fliud">
                            <div class="row">
                                <div class="preview col-md-4" id="Sadharan_p_block">
                                    <h3 class="product-block">Sri Gurupada Goswami</h3>
                                    <h2 class="product-block">শ্রী গুরুপদ গোস্বামী</h2>
                                    <img src="~/assets/img/gurupada.jpg" alt="gurupada" class="kah_g">
                                </div>
                                <div class="details col-md-4">
                                    <h3>About Sri Gurupada Goswami:</h3>
                                    <p class="product-description">
                                        Sri Gurupada Goswami is a scholastic priest who is closely associated with Pujapariseva.
                                        He belongs to north eastern state Tripura. Hence all puja path and rituals in Assam, Tripura and adjoining areas are duly performed by him with full sanctity and devotion. For his vast knowledge and experience, Sri Goswami is adorned with esteemed titles like Gitaratna and Puranaratna. He is very proficient in Chandi Path and Gita path.
                                        He holds a prolific stature in performing all types of pujas, ceremonies and rituals with outstanding precision. He is a regular worshiper of Sri Sri Radhamadanmohan jee of the famous ”Haribhakti Pracharini Sabha “ temple  in Udaipur, Tripura. He has been the Principal Sevak of this Temple for last 25 years. Sri Goswami is also very proficient in performing special rituals of Vaisnav Cult namely, Naam Jogya, Chousatti Mohanta Bhograg, Dwadash Gopala Bhograg etc.
                                    </p>
                                    <p class="product-description">
                                        The most famous holy shrine in Tripura is the “ Mata Tripureswari Temple” which is one of the 51 shakti peethas.
                                        Sri Goswami is one of very few selected purohits to perform puja of Mata Tripureswari.
                                    </p>
                                </div>
                                <div class="preview col-md-4">
                                    <h3>শ্রী গুরুপদ গোস্বামী সম্পর্কে:</h3>
                                    <p class="product-description">
                                        শ্রী গুরুপদ গোস্বামী একজন বিদগ্ধ পুরোহিত যিনি পূজাপরিষেবার সাথে ঘনিষ্ঠভাবে জড়িত।
                                        ইনি ত্রিপুরার অধিবাসী। তাই  অসম, ত্রিপুরা ও তৎসংলগ্ন অঞ্চলের সকল পূজা পাঠ, ক্রিয়া যজ্ঞাদি গুরুপদবাবু নিজে দায়িত্ব সহকারে নির্বাহ করে। শ্রী গোস্বামী তার পান্ডিত্যের জন্য গীতারত্ন ও পুরানরত্ন উপাধিতে ভূষিত। শ্রীশ্রীমদ্ভাগবদ্, শ্রীমদ্ভগবদগীতা ও চন্ডীপাঠে গুরুপদবাবু অত্যন্ত পারদর্শী। বিবাহ বা যেকোন পূজা উনি নিষ্ঠা সহকারে করে থাকেন। হরিভক্তি প্রচারিনী সভার উদয়পুর শাখার "শ্রী শ্রী রাধামদনমোহন জির" নিত‍্যসেবক। এই মন্দিরে প্রায় 25 বছরের ও বেশী সময় ধরে উনি সেবকের কাজ করে আসছেন। বৈষ্ণব মতের বড় বড় অনুষ্ঠান,যেমন নামযজ্ঞের দায়িত্ব, চৌষট্টি মোহন্তের ভোগরাগ,দ্বাদশ গোপালের ভোগরাগ ইত্যাদি ক্রিয়া নিষ্ঠা সহকারে সুসম্পন্ন করে চলেছেন।
                                        ত্রিপুরার অন্যতম প্রধান তীর্থস্থান হলো মাতা ত্রিপুরেস্বরী মন্দির। একান্ন পীঠের এক পীঠ মাতা ত্রিপুরাসুন্দরীর কাছেও পূজো দেওয়ার ব‍্যবস্থা শ্রী গোস্বামী নিজের হাতেই করে থাকেন।
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>